* {
    margin: 0;
    padding: 0;
    font-family: 'VCR OSD Mono';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('/resources/imgs/background-img.jpg');
    background-size: cover;
    background-position: top left;
    animation: mymove 60s infinite;
}

@keyframes mymove {
    70% {
        background-position: right;
    }
}